:root {
	--bg: rgba(35, 35, 35, 0.4);
	/* #1e1e2e */
}

window {
	margin: 0px;
	border: 5px solid rgba(35, 35, 35, 0);
	/* background-color: #cdd6f4; */
	background-color: rgba(35, 35, 35, 0.6);
	border-radius: 20px;
	font-size: 20px;
}

#input {
	/* padding: 4px; */
	padding-left: 20px;
	padding-right: 10px;
	margin: 10px;
	margin-bottom: 0;
	border: none;
	border-radius: 15px;
	color: #cdd6f4;
	font-weight: bold;
	background-color: rgba(85, 85, 85, 0.6);
	outline: none;
}

#input:focus {
	border: 0px solid #1e1e2e;
	margin-bottom: 0px;
}

#inner-box {
	margin: 10px;
	margin-top: 0px;
	border: 10px solid rgba(35, 35, 35, 0);
	color: #cdd6f4;
	font-weight: bold;
	background: none;
	border-radius: 15px;
}

#outer-box {
	margin: 0px;
	border: none;
	border-radius: 15px;
	background-color: rgba(35, 35, 35, 0.6);
}

#scroll {
	margin-top: 5px;
	border: none;
	border-radius: 15px;
	margin-bottom: 5px;
	/* background: rgb(255,255,255); */
}

#img:selected {
	border-radius: 10px;
	background-color: #d91821;
}

#text:selected {
	color: #cdd6f4;
	margin: 0px 0px;
	border: none;
	border-radius: 15px;
	background-color: #d91821;
}

#entry {
	margin: 0px 0px;
	border: none;
	border-radius: 10px;
	background-color: transparent;
}

#entry:selected {
	margin: 0px 0px;
	border: none;
	border-radius: 10px;
	background-color: #d91821;
}
